<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.flyserver.mapper.InWarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.flyserver.pojo.InWarehouse">
        <id column="id" property="id" />
        <result column="supplierId" property="supplierId" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="date" property="date" />
        <result column="goodsId" property="goodsId" />
        <result column="warehouseId" property="warehouseId" />
        <result column="orderId" property="orderId"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supplierId, id, name, price, quantity, date, goodsId, warehouseId, orderId
    </sql>

    <resultMap id="InWarehouse" type="com.xxxx.flyserver.pojo.InWarehouse" extends="BaseResultMap">
        <collection property="supplier" ofType="com.xxxx.flyserver.pojo.Supplier">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="cphone" property="phone"/>
            <result column="caddress" property="address"/>
        </collection>
        <collection property="warehouse" ofType="com.xxxx.flyserver.pojo.Warehouse">
            <id column="wid" property="id"/>
            <result column="wname" property="name"/>
        </collection>
    </resultMap>
    <select id="getInWarehouse" resultMap="InWarehouse">
        SELECT
            iw.*,
            s.id AS sid,
            s.NAME AS sname,
            s.phone AS sphone,
            s.address AS saddress,
            w.id AS wid,
            w.NAME AS wname
        FROM
            t_in_warehouse AS iw
            LEFT JOIN t_supplier AS s ON iw.supplierId = s.id
            LEFT JOIN t_warehouse AS w ON iw.warehouseId = w.id
        WHERE
            iw.id != 0
<!--        <if test="id != null">-->
<!--            AND iw.id = #{id}-->
<!--        </if>-->
<!--        <if test="otherId != null">-->
<!--            AND iw.supplierId = #{otherId}-->
<!--        </if>-->
<!--        <if test="name != null || name != ''">-->
<!--            AND iw.name LIKE CONCAT('%',#{name},'%')-->
<!--        </if>-->
        ORDER BY
            iw.id
    </select>

    <resultMap id="inGoods" type="com.xxxx.flyserver.pojo.InWarehouse">
        <id column="iwid" property="id"/>
        <collection property="goods" ofType="com.xxxx.flyserver.pojo.Goods">
            <id column="id" property="id"/>
            <result column="quantity" property="quantity"/>
        </collection>
    </resultMap>

    <select id="getinGoods" resultMap="inGoods">
        SELECT op2.iwid as owid,g.* FROM
                (SELECT
                         op.id AS opid,
                         poid.iwid as iwid
                 FROM
                         ( SELECT iw.id as iwid,po.oid AS oid FROM t_in_warehouse AS iw, t_po AS po WHERE iw.orderId = po.id ) AS poid,
                         t_operation AS op
                 WHERE
                         poid.oid = op.id) AS op2,
                t_goods as g
        WHERE
                g.oid = op2.opid
    </select>
</mapper>
