<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.flyserver.mapper.MailLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.flyserver.pojo.MailLog">
        <id column="msgId" property="msgId" />
        <result column="cId" property="cId" />
        <result column="sId" property="sId" />
        <result column="state" property="state" />
        <result column="exchange" property="exchange" />
        <result column="routekey" property="routekey" />
        <result column="count" property="count" />
        <result column="createtime" property="createtime" />
        <result column="trytime" property="trytime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        msgId, cId, sId, state, exchange, routekey, count, createtime, trytime, updatetime
    </sql>

</mapper>
