<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.flyserver.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.flyserver.pojo.Orders">
        <id column="id" property="id" />
        <result column="number" property="number" />
        <result column="customerId" property="customerId" />
        <result column="state" property="state" />
        <result column="quality" property="quality" />
        <result column="createdate" property="createdate" />
        <result column="money" property="money" />
        <result column="addressId" property="addressId" />
        <result column="dAddress" property="dAddress" />
        <result column="chargeMode" property="chargeMode" />
        <result column="oid" property="oid"/>
        <result column="did" property="did"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, number, goodsId, customerId, state, quality, createdate, money, cost, profit, did
    </sql>

    <resultMap id="Orders" type="com.xxxx.flyserver.pojo.Orders" extends="BaseResultMap">
        <association property="stateName" javaType="com.xxxx.flyserver.pojo.State">
            <id column="sid" property="id"/>
            <result column="sname" property="name"/>
        </association>
        <association property="customer" javaType="com.xxxx.flyserver.pojo.Customer">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="cphone" property="phone"/>
            <result column="caddress" property="address"/>
        </association>
<!--        <association property="goods" javaType="com.xxxx.flyserver.pojo.Goods">-->
<!--            <id column="gid" property="id"/>-->
<!--            <result column="gname" property="name"/>-->
<!--        </association>-->
    </resultMap>
    <select id="getAllOrders" resultMap="Orders">
        SELECT
                o.*,
                c.id AS cid,
                c.`name` AS cname,
                c.phone AS cphone,
                c.address AS caddress,
<!--                g.id AS gid,-->
<!--                g.name AS gname,-->
                s.id AS sid,
                s.`name` AS sname
        FROM
                t_orders AS o,
                t_customer AS c,
<!--                t_goods AS g,-->
                t_state AS s
        WHERE
                o.customerId = c.id
<!--          AND o.goodsId = g.id-->
          AND o.state = s.id
        <if test="orderId != null">
            AND o.id = #{orderId}
        </if>
        <if test="orderState != null">
            AND o.state = #{orderState}
        </if>
        <if test="oid != null">
            AND o.oid = #{oid}
        </if>
    </select>
</mapper>
