<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.flyserver.mapper.OutWarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.flyserver.pojo.OutWarehouse">
        <id column="id" property="id" />
        <result column="customerId" property="customerId" />
        <result column="name" property="name" />
<!--        <result column="price" property="price" />-->
<!--        <result column="quantity" property="quantity" />-->
        <result column="date" property="date" />
        <result column="goodsId" property="goodsId" />
        <result column="warehouseId" property="warehouseId" />
        <result column="state" property="state"/>
        <result column="orderId" property="orderId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customerId, name, price, quantity, date, goodsId, warehouseId, state, orderId
    </sql>

    <resultMap id="OutWarehouse" type="com.xxxx.flyserver.pojo.OutWarehouse" extends="BaseResultMap">
        <collection property="customer" ofType="com.xxxx.flyserver.pojo.Customer">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="cphone" property="phone"/>
            <result column="caddress" property="address"/>
        </collection>
        <collection property="warehouse" ofType="com.xxxx.flyserver.pojo.Warehouse">
            <id column="wid" property="id"/>
            <result column="wname" property="name"/>
        </collection>
     </resultMap>
    <select id="getOutWarehouse" resultMap="OutWarehouse">
        SELECT
            ow.*,
            c.id AS cid,
            c.NAME AS cname,
            c.phone AS cphone,
            c.address AS caddress,
            w.id AS wid,
            w.NAME AS wname
        FROM
            t_out_warehouse AS ow
            LEFT JOIN t_customer AS c ON ow.customerId = c.id
            LEFT JOIN t_warehouse AS w ON ow.warehouseId = w.id
        WHERE
            ow.id != 0
<!--        <if test="id != null">-->
<!--            AND ow.id = #{id}-->
<!--        </if>-->
<!--        <if test="otherId != null">-->
<!--            AND ow.customerId = #{otherId}-->
<!--        </if>-->
<!--        <if test="name != null || name != ''">-->
<!--            AND ow.name LIKE CONCAT('%',#{name},'%')-->
<!--        </if>-->
        ORDER BY
                ow.id
    </select>

    <resultMap id="outGoods" type="com.xxxx.flyserver.pojo.OutWarehouse">
        <id column="owid" property="id"/>
        <collection property="goods" ofType="com.xxxx.flyserver.pojo.Goods">
            <id column="id" property="id"/>
            <result column="quantity" property="quantity"/>
        </collection>
    </resultMap>

    <select id="getOutGoods" resultMap="outGoods">
        SELECT op2.owid as owid,g.* FROM
                (SELECT
                         op.id AS opid,
                         ordid.owid as owid
                 FROM
                         ( SELECT ow.id as owid,ord.oid AS oid FROM t_out_warehouse AS ow, t_orders AS ord WHERE ow.orderId = ord.id ) AS ordid,
                         t_operation AS op
                 WHERE
                         ordid.oid = op.id) AS op2,
                t_goods as g
        WHERE
                g.oid = op2.opid
    </select>
</mapper>
